<div class='grid fill-light'>
	<div class='col12 pad4 header'>
		<div class='col5'>
			<h1 class="title">charter school co-location over time, nyc</h1>
		</div>
	</div>
	<div class='col12'>
		<!-- <div class='col7'> -->
			<div id="map" class="dark"></div>
		<!-- </div> -->
		<div class='col5'>
			<div id="brush" class="ui-brush"></div>
		</div>
	</div>
</div>

